.FormElement-content
    display: flex
    flex-direction: column
    max-width: 320px
    width: 100%
.text-field
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-bottom: 20px
    &__text
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        margin-bottom: 0
        & p 
            text-transform: uppercase
            font-size: 12px
            line-height: 15px
            text-align: right
            margin: 0 0 8px 0
        & h3
            margin: 0 0 5px 0
.text-field__default
    display: flex
    margin-top: 0
    &__input
        background: #FFFFFF
        border: 1px solid rgba(31, 32, 65, 0.25)
        box-sizing: border-box
        border-radius: 4px
        width: 100%
        height: 44px
        padding-left: 15px
        color: rgba(31, 32, 65, 0.25)
        font-family: Montserrat
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 18px
.text-field__hover
    display: flex
    margin-top: 0
    &__input
        background: #FFFFFF
        border: 1px solid rgba(31, 32, 65, 0.5)
        box-sizing: border-box
        border-radius: 4px
        width: 100%
        height: 44px
        padding-left: 15px
        color: rgba(31, 32, 65, 0.75)
        font-family: Montserrat
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 18px